@{
    ViewData["Title"] = "Test Page";
}

<div class="test-page test-image-css">
    <h1 class="text-success mb-1 text-center">Check devtools network and console for results.</h1>

    <div class="test-page__container">
        <div class="pb-5">Test image</div>
        <img src="~/images/html/demo/test.jpg" class="test-image" />
    </div>
</div>
