@use 'variables';

@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import './site.css';

// Custom css

/*regular version - 400*/
@font-face {
    font-family: "AFont";
    src: local("AFont"), url("../fonts/monospace/Source_Code_Pro/SourceCodePro-Regular.ttf") format("truetype");
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html,
body {
    font-family: 'AFont', monospace;

    h1 {
        color: variables.$color-red;
    }
}

.test-page {
    width: 100%;
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 70%;

        padding: 2rem;

        background-color: gray;
    }
}

.test-image {
    width: 50%;
    max-height: 300px;
}

.test-image-css {
    background-image: url('../images/css/background.jpg');
    background-position: center;
    background-size: cover;
}